{% extends "/layout/default.twig" %}
{# Add code to the head #}
{% block header %}
    <link href="/css/lightbox.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{title}}</h1>
        <p class="lead text-muted">{{description}}</p>
		{% if tags %}
		<p>
			{% for tag in tags %}
			<a href="/tag/{{tag}}" class="badge badge-info">{{tag}}</a>
			{% endfor %}
		</p>
		{% endif %}
		{% if _SESSION_.username %}
		{% if _SESSION_.username == owner or _SESSION_.username in users %}
		<hr>
		<p>
			<a href="/e/{{album_slug}}" class="btn btn-info">Edit</a>
			<a href="/u/{{album_slug}}" class="btn btn-success">Upload</a>
            <button type="button" id="editPhotos" class="btn btn-primary">Edit Photos</button>
		</p>
		{% endif %}
		{% endif %}
      </div>
    </section>
	
    <div class="album text-muted">
      <div class="container">

        <div class="row">
		  {% for image in images %}
		  <div class="col-md-4">
			  <div class="card">
				  <a href="/i/{{album_slug}}/{{image}}" data-lightbox="{{album_slug}}" class="gallery"><img src="/it/{{album_slug}}/{{image}}"></a>
                  <div class="row editButtons" style="display: none;">
                      <div class="col-sm-6 text-left">
                          <button type="button" id="deleteButton" class="mt-2 btn btn-danger" value="{{image}}">Delete</button>
                      </div>
                      <div class="col-sm-6 text-right">
                          <a href="/u/{{album_slug}}" class="mt-2 btn btn-outline-success">Default</a>
                      </div>
                  </div>
			  </div>
          </div>
		  {% endfor %}
        </div>

      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Are you sure you want to delete this photo?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Add code in the footer after jQuery is loaded #}
{% block footer %}
    <script src="/js/lightbox.js"></script>

    <script>
        $('#editPhotos').click(function () {
            if ($('.editButtons').is(':visible')) {
                $('.editButtons').each(function () {
                    $(this).hide();
                });
            } else {
                $('.editButtons').each(function () {
                    $(this).show();
                });
            }
        });

        $('#deleteButton').click(function () {
            $('#deleteModal').modal('show');
        });
    </script>
{% endblock %}