{% extends "/layout/default.twig" %}

{% set page_title = config.title %}
{% set page_description = config.description %}
{% set page_image = '/album/'~config.album_slug~'/'~config.default %}

{# Add code to the head #}
{% block header %}
    <link href="/css/lightbox.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{ config.title }}</h1>
        <p class="lead text-muted">{{ config.description }}</p>
		{% if tags %}
		<p>
			{% for tag in tags %}
			<a href="/tag/{{ tag }}" class="badge badge-info">{{ tag }}</a>
			{% endfor %}
		</p>
		{% endif %}
		{% if _SESSION_.username %}
		{% if _SESSION_.user_type == 'admin' or _SESSION_.username == config.owner or _SESSION_.username in config.users %}
		<hr>
		<p>
            {% if _SESSION_.user_type == 'admin' or _SESSION_.username == config.owner %}<a href="/album/{{ config.album_slug }}/edit" class="btn btn-info">Edit</a>{%  endif %}
            {% if _SESSION_.user_type == 'admin' or _SESSION_.username in config.users %}<a href="/album/{{ config.album_slug }}/upload" class="btn btn-success">Upload</a>{%  endif %}
            {% if _SESSION_.user_type == 'admin' or _SESSION_.username == config.owner %}<button type="button" id="edit-photos" class="btn btn-primary">Edit Photos</button>{%  endif %}
		</p>
		{% endif %}
		{% endif %}
      </div>
    </section>
	
    <div class="album text-muted">
      <div class="container">

        <div class="row">
          {% set i = 1 %}
            {% set max = (config.image_total/3)// %}
		  {% for image in images %}
    {% if i == 1 %}<div class="col-md-4">{% endif %}
			  <div class="card" id="{{ image }}">
				  <a href="/album/{{ config.album_slug }}/{{ image }}" data-lightbox="{{ config.album_slug }}" class="gallery"><img src="/album/{{ config.album_slug }}/th_{{ image }}"></a>
                  {% if _SESSION_.user_type == 'admin' or _SESSION_.username == config.owner %}
                  <div class="row edit-buttons" style="display: none;">
                      <div class="col-sm-12 text-left">
                          <button type="button" class="mt-2 btn btn-danger delete-button" value="{{image}}">Delete</button>
                          <button class="float-right mt-2 btn default-button {% if image != config.default %}btn-outline-success{% else %}btn-success{% endif %}" {% if image == config.default %}id="default-image"{% endif %} value="{{image}}">Default</button>
                      </div>
                  </div>
                  {%  endif %}
			  </div>
			  {% set i = i+1 %}
              {% if i == max %}</div>{% set i = 1 %}{% endif %}
		  {% endfor %}
		  {% if i != 1 %}</div>{% endif %}
        </div>

      </div>
    </div>

    {% if _SESSION_.user_type == 'admin' or _SESSION_.username == config.owner %}
    <!-- Delete Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h5>Are you sure you want to delete this photo?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="delete-confirm" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{# Add code in the footer after jQuery is loaded #}
{% block footer %}
    <script src="/js/lightbox.js"></script>

    {% if _SESSION_.user_type == 'admin' or _SESSION_.username == config.owner %}
    <script>
        $('#edit-photos').click(function () {
            if ($('.edit-buttons').is(':visible')) {
                $('.edit-buttons').each(function () {
                    $(this).hide();
                });
            } else {
                $('.edit-buttons').each(function () {
                    $(this).show();
                });
            }
        });

        $('.delete-button').click(function () {
            $('#delete-confirm').val($(this).val());
            $('#delete-modal').modal('show');
        });

        $('#delete-confirm').click(function () {
            console.log($(this).val());
            //$.get('/album/{{ config.album_slug }}/'+$(this).val()+'/delete');
            $('#'+$(this).val()).hide();
            $('#delete-modal').modal('hide');
        });

        $('.default-button').click(function () {
            $.get('/album/{{ config.album_slug }}/'+$(this).val()+'/default');
            $('#default-image').removeClass('btn-success');
            $('#default-image').addClass('btn-outline-success');
            $('#default-image').removeAttr('id');
            $(this).removeClass('btn-outline-success');
            $(this).addClass('btn-success');
            $(this).attr('id', 'default-image');
        });
    </script>
    {% endif %}
{% endblock %}