{% extends "/layout/default.twig" %}

{% if _SITE_CONFIG_.site_description %}
    {% set page_description = _SITE_CONFIG_.site_description|striptags %}
{% else %}
    {% set page_description = "Flutos (Noun)
	Pronunciation: flu-toes
	An archive of the photos taken of/by of the Fluharty family on their adventures through life." %}
{% endif %}


{# Add code to the head #}
{% block header %}
{% endblock %}

{% block content %}

		<section class="jumbotron text-center">
			<div class="container">
				{% if _SITE_CONFIG_.site_description %}
					{{ _SITE_CONFIG_.site_description|raw }}
				{% else %}
					<h1 class="jumbotron-heading">Flutos (Noun)</h1>
					<h3 class="jumbotron-heading">Pronunciation: flu-toes</h3>
					<p class="lead text-muted">An archive of the photos taken of/by of the Fluharty family on their adventures through life.</p>
				{% endif %}
			</div>
		</section>
	
		<div class="album text-muted">
			<div class="container">

				<div class="row">
				{% if albums %}
				{% for album in albums %}
					<div class="col-md-4">
						<div class="card">
							<a href="/album/{{album.album_slug}}" class="text-center center-block">
								<h3>{{album.title}}</h3>
								<span class="badge badge-pill badge-dark">{{album.image_total}}</span>
								{% if album.default %}<img src="/album/{{album.album_slug}}/th_{{album.default}}">{% endif %}
							</a>
						</div>
					</div>
				{% endfor %}
				{% else %}
					<div class="col-md-12 text-center">
						<h2>No albums found</h2>
					</div>
				{% endif %}
				</div>
			</div>
		</div>
{% endblock %}

{# Add code in the footer after jQuery is loaded #}
{% block footer %}
{% endblock %}