<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% if page_title %}{{ page_title }} - {% endif %}{% if _SITE_CONFIG_.site_name %}{{ _SITE_CONFIG_.site_name }}{% else %}Flutos{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
	{% if header is defined %}
      {{ header|raw }}
    {% endif %}

      {% if _SITE_CONFIG_.ga_id %}
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ _SITE_CONFIG_.ga_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', '{{ _SITE_CONFIG_.ga_id }}');
        </script>

      {% endif %}
  </head>

  <body>